/* You can add global styles to this file, and also import other style files */
.input-label{
  width: 200px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.form-input{
  width: 400px;
}

.success-message{
  border: solid;
  background-color: greenyellow;
  color: forestgreen;
}

.error-message{
  border: solid;
  background-color: #ff4810;
  color: #8b152d;
}
